{{% extends 'base.html' %}

{% block title %}Newsletters{% endblock %}

{% block content %}
<h2 style="font-family: Arial, sans-serif; color: #333;">Newsletters</h2>
<ul style="list-style-type: none; padding: 0; margin: 0;">
    {% for newsletter in newsletters %}
        <li style="padding: 10px; margin-bottom: 5px; background-color: #8D7C49; border: 1px solid #ddd; border-radius: 5px;">
            {{ newsletter.title }}
        </li>
    {% empty %}
        <li style="padding: 10px; background-color: #877427; border: 1px solid #ddd; border-radius: 5px;">
            No newsletters available.
        </li>
    {% endfor %}
</ul>
{% endblock %}

